h1{
    color: blue;
    text-align: center;
}

body{
    background-image: url(https://www.sqorebda3.com/vb/attachments/17759/);
}

img{
    width: 150px;
    height: 150px;
    margin: 3%;
    border: blue 3px solid;
    border-radius: 10px;
    transition: 1s;
}


img:hover{
    width: 200px;
    height: 200px;
    margin: 3%;
    border: rgb(255, 0, 98) 6px solid;
    border-radius: 50px 80px 50px 80px;
    transition: 500ms;
}
li{
    font-size: 20px ;
    display: inline;
    margin: 3%;
}

li:hover{
    background-color: #fcfcfc;
    font-size:22px;
}

ul{
    background-color: cornflowerblue;
}

hr{
    size: 7;
    color: black;
}

p{
    font-size: 23px; 

    text-align: center;
}

main{
    margin-left: 16%;
}

iframe{
    margin-left: 33%;

    width: 400px;
    height: 200px;
}
